@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h3>ℂ𝕣𝕖𝕒𝕥𝕖 𝔸𝕟 𝔼𝕞𝕡𝕝𝕠𝕪𝕖𝕖 𝔸𝕔𝕔𝕠𝕦𝕟𝕥</h3>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span asp-validation-summary=""></span>
            <form asp-controller="user" asp-action="register" method="post">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label asp-for="FirstName"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                            <input asp-for="FirstName" type="text" class="form-control" placeholder="Firstname" />
                        </div>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label asp-for="LastName"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                            <input asp-for="LastName" type="text" class="form-control" placeholder="LastName" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label asp-for="Email"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label asp-for="Address"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
                            <input asp-for="Address" type="text" class="form-control" placeholder="Address" />
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label asp-for="Username"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                            <input asp-for="Username" type="text" class="form-control" placeholder="Username" />
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label asp-for="Password"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label asp-for="ConfirmPassword"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <button class="btn btn-success" type="submit">ℝ𝕖𝕘𝕚𝕤𝕥𝕖𝕣</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

