@model ExpenceTypeViewModel
@{
    ViewData["Title"] = "AddExpenceType";
}

<h2>𝔸𝕕𝕕 𝔼𝕩𝕡𝕖𝕟𝕔𝕖 𝕋𝕪𝕡𝕖</h2>
<form asp-controller="ExpenceType" asp-action="AddExpenceType" method="post">
    <div class="form-row align-items-center">
        <div class="row">

            <div class="col-md-3">
                <label>Name</label>
                <input asp-for="Name" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Name">
            </div>


            <div class="col-md-3">
                <label>Description</label>
                <input asp-for="Description" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Description">
            </div>

        </div>
    </div>
    <br />
    <br />
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Save</button>
    </div>
</form>


