@model List<ExpenceTypeViewModel>
@{
    ViewData["Title"] = "AllExpenceTypes";
}

<h2>𝔸𝕝𝕝 𝔼𝕩𝕡𝕖𝕟𝕔𝕖 𝕋𝕪𝕡𝕖𝕤</h2>
<style>
    .myTable > tbody > tr > td, .mytable > tbody > tr > th, .myTable > thead > tr > td, .myTable > thead > tr > th {
        padding: 12px;
    }

    #button-col {
        border-bottom: hidden;
        border-left: hidden;
        border-top: hidden;
        color: none !important;
    }

    .options_navbar {
        overflow: hidden;
        background-color: #333;
    }

        .options_navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    .options_dropdown {
        float: left;
        overflow: hidden;
    }

        .options_dropdown .options_dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 10px 10px;
            background-color: #6699ff;
            font-family: inherit;
            margin: 0;
        }

        .options_navbar a:hover, .options_dropdown:hover .options_dropbtn {
            background-color: red;
        }

    .options_dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .options_dropdown-content a {
            float: none;
            color: black;
            padding: 10px 10px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

            .options_dropdown-content a:hover {
                background-color: #ddd;
            }

    .options_dropdown:hover .options_dropdown-content {
        display: block;
    }
</style>
<br />
<br />

<table style="overflow-x:auto; white-space:nowrap; margin:auto;" class=" table-bordered table-striped  myTable">
    <thead>
        <tr>
            <th id="button-col"></th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
          @foreach (var expenceType in Model)
          {
            <tr>
                <td id="button-col" align="center">
                    <div class="options_navbar">
                        <div class="options_dropdown">
                            <button class="options_dropbtn">
                                Options
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="options_dropdown-content">
                                <a asp-controller="ExpenceType"
                                   asp-action="UpdateExpenceType"
                                   asp-route-expenceTypeId="@expenceType.Id">Edit</a>
                                <a asp-controller="ExpenceType"
                                   asp-action="RemoveExpenceType"
                                   asp-route-expenceTypeId="@expenceType.Id">Remove</a>

                            </div>
                        </div>
                    </div>
                </td>
                <td>@expenceType.Name</td>
                <td>@expenceType.Description</td>
            </tr>
          }
        }
    </tbody>
</table>

