@model ExpenceTypeViewModel
@{
    ViewData["Title"] = "RemoveExpenceType";
}

    <h2>𝔸𝕣𝕖 𝕪𝕠𝕦 𝕤𝕦𝕣𝕖 𝕪𝕠𝕦 𝕨𝕒𝕟𝕥 𝕡𝕖𝕣𝕞𝕒𝕟𝕖𝕟𝕥𝕝𝕪 𝕕𝕖𝕝𝕖𝕥𝕖 𝕥𝕙𝕚𝕤 𝕖𝕩𝕡𝕖𝕟𝕔𝕖 𝕥𝕪𝕡𝕖?</h2>
<br />
<br />
<form asp-controller="ExpenceType" asp-action="RemoveExpenceType" method="post">
    <div class="form-row align-items-center">
        <div class="row">
            <div><input asp-for="Id" value="@Model.Id" hidden /></div>
            <div class="col-md-3">
                <label>Name</label>
                <input asp-for="Name" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="@Model.Name" readonly>
            </div>

            <div class="col-md-3">
                <label>Description</label>
                <input asp-for="Description" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="@Model.Description" readonly>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Yes</button>
        <a class="btn btn-info" asp-controller="ExpenceType" asp-action="AllExpenceTypes">No</a>
    </div>
</form>

