@{
    ViewData["Title"] = "ᗩᗷOᑌT";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>
    The application will serve companies that have their private vehicles, and lend them to their employees.
    Also it keeps count for every expense for each vehicle.
</h4>
