@{
    ViewData["Title"] = "ᑕᗝᑎ丅ᗩᑕ丅";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    UL. Karposh Br. 102 <br />
    Skopje, MKD 1000<br />
    <abbr title="Phone">P:</abbr>
    +389 (0)2 3497 554  (08:30 – 16:30, mon-fri)
</address>

<address>
    <strong>Support:</strong> <a href="vehicle_app@gmail.com">vehicle_app@gmail.com</a><br />
    
</address>
