@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-push-6">
            <h1>𝕍𝕖𝕙𝕚𝕔𝕝𝕖𝕤 𝔸𝕡𝕡</h1>

            <img src="~/images/vehiclesPhoto.jpg" alt="Logo image" height="450" />
            <a class="btn btn-group-justified btn-lg bg-info"  asp-controller="User"
               asp-action="Login"><b>𝕃𝕠𝕘 𝕀𝕟</b></a>
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
